* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;

  // 链接跳转
  &[href]:hover {
    cursor: pointer;
    color: var(--primary-color);
  }
}
