---
import Main from "@/layouts/main.astro"
---
<Main>
	<code>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ab? Quis iusto eveniet laboriosam labore dolor libero voluptate quibusdam deleniti facilis quaerat ad ut, aspernatur ipsa iste tempore quidem ea!
	</code>
</Main>