---
import BaseHead from "@/components/base/Head.astro";
import Footer from "@/components/Footer.astro";
import NavBar from "@/components/NavBar.astro";
import Aside from "@/components/Aside.astro";

const { title = "", keywords = "", description = "" } = Astro.props;
---

<html lang="zh-CN">
  <head>
    <BaseHead title={title} keywords={keywords} description={description} />
  </head>
  <body>
    <noscript
      style="width: 100vw;height: 100vh;position: fixed;top: 0;left: 0;z-index: 9999999;background-color: #fff;"
    >
      <h1>本站仅支持现代化浏览器并开启JavaScript访问</h1>
    </noscript>
    <NavBar />
    <main>
      <div class="content">
        <slot />
      </div>
      <Aside />
    </main>
    <Footer />
  </body>
</html>
